		#cbtn {float: right; margin-bottom: 0.5em;}
		.iqF {display : inline-block; margin-left:100px;}
		#iqForm{ width : 500px; margin : 0 auto;}
		#r {float: right; }
		.g {font-weight: bold;}
		.n {font-weight: bold; color : red;}
		.accordion-button {font-weight: 900;}
		.form-label {font-weight: bold;}
		.flex-shrink-0.p-3.bg-white {display: inline-block; float : left; }
		#sbtn {width: 95px; margin-right: 0.5em;}